/*-------------------------------------*/
/* BASIC SETUP  */
/*-------------------------------------*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #fff;
    font-family: 'Inter','Lato' , 'Arial' , sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

/*-------------------------------------*/
/* REUSABLE COMPONENT  */
/*-------------------------------------*/



.row {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}


h1 {
   margin: 0 auto;
   font-size: 50px;
   font-weight: 500;
}

.main-heading{
    font-size: 55px;
    font-weight: 399;
    margin: 40px auto 15px auto;
}

.main-subheading{
    font-size: 25px;
    font-weight: 400;
    color: #6a737d;
    margin: 20px auto 30px auto;
}
/*-------------------------------------*/
/* Header  */
/*-------------------------------------*/



header{
    background-image: linear-gradient(rgba(43, 49, 55, 0.95) , rgba(43, 49, 55, 0.95)), url('img/hero-bg1.png');
    background-size: cover;
    height: 65vh;
    background-position: center 10%;
    
}

nav{
    background-color: #24292e;
    z-index: 100;
    padding: 10px 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
}

.btn:link,
.btn:visited{
    border : 3px solid #1074e7;
    font-size : 18px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    margin-top: 15px;
}

.btn:hover,
.btn:active{
    background-color: 
    padding: 12px 30px;
    background-color: #1074e7;    
}



